* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100vh;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .verticalBar {
  height: 3rem;
  width: 0.3rem;
  background-color: #70707042;
  margin: 2rem;
}

aside .ballDecoration {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #70707042;
  margin: 2rem;
  cursor: pointer;
}

aside .ballDecoration.active {
  background-color: #ca3b3a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #161616;
  padding-bottom: 4rem;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.navContainer #logo {
  width: 6rem;
}

.navContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .navContainer nav ul {
    display: none;
  }
}

.navContainer nav ul li {
  list-style-type: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.navContainer nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: #ca3b3a;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.navContainer nav ul li:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.navContainer .suportIcons span {
  margin: 0 0.5rem;
  cursor: pointer;
}

.mainContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 90%;
  margin: 3rem auto;
  padding: 1rem;
}

@media (max-width: 720px) {
  .mainContent {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.mainContent img {
  min-width: 350px;
  max-width: 100%;
}

.mainContent .productSpecifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 10rem;
  line-height: 2rem;
}

.mainContent .productSpecifications h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #ca3b3a;
  text-transform: uppercase;
}

.mainContent .productSpecifications .rating {
  color: #ca3b3a;
  font-weight: 600;
}

.mainContent .productSpecifications .specifications {
  line-height: 1.2rem;
  margin: 0.8rem 0;
  color: #707070;
}

.mainContent .productSpecifications strong {
  color: #161616;
}

.mainContent .productSpecifications .buySecction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.mainContent .productSpecifications .buySecction .price {
  font-size: 2rem;
  font-weight: 600;
}

.mainContent .productSpecifications .buySecction button {
  width: 180px;
  padding: 0.9rem 0;
  background-color: #e93434;
  color: #fff;
  border: none;
  cursor: pointer;
}

.mainContent .productSpecifications .buySecction:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  background-color: #e08e8e63;
}

footer .footerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerItem span {
  margin-right: 1rem;
}

footer .footerItem p {
  width: 250px;
  font-size: 0.9rem;
}
/*# sourceMappingURL=styles.css.map */